*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

/* body{
    color: white;
    background-color: rgb(26, 25, 25);
    font-family: monospace;
} */

.navbar{
    background-color: #131313;
    height: 200px;
    display: flex;
    /* justify is for horizontal axis and align is for vertical */
    justify-content:center;  
    align-items: center;
    font-size: 1.2rem;
    /* sticky sticks the element to the screen */
    position:sticky;
    top:0;
    z-index:999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height:80px;
    z-index: 1;
    width:100%;
    border: 10px solid red;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    
}

.{
    background: linear-gradient(to bottom, rgb(212, 168, 165), rgb(219, 69, 58) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
